.home-container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.home-cover {
  width: 100%;
  height: calc(100vh - 2rem);
  background-image: url(../assets/home-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}